.App {
  text-align: center;
}

#addbtn{
 translate: 0.9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#c1 ,#c2,#c3,.col-xs-12.col-sm-6{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: .5rem;
}
.box:only-child h1,h2{
  margin-left: 2rem;
}

.imgs{
  height: 2rem;
  width: 2rem;
  font-weight: 200;
  margin-left: 2rem;
}
.linechart{
  margin-left: 1px;

}

